.documents
  .g-wrapper
    .documents__header Документы
    .documents__main
      .documents__list
        .documents__subtitle Для заключения договора просим прислать нам следующие документы:
        .documents__item Карточка клиента (почтовый адрес, банковские реквизиты и т.п.)
        .documents__item Копия Устава
        .documents__item Копия Свидетельства о государственной регистрации
        .documents__item Копия Свидетельства о внесении записи в Единый государственный реестр юридических лиц
        .documents__item Подтверждение полномочий лица на подписание договора
        .documents__item Копия Свидетельства о постановке на учет в налоговом органе
        .documents__item Копия Уведомления Госкомстата о присвоении кодов
      .documents__image
        img(src="./images/leather-briefcase.png").documents__img
