footer.footer#footer
  .g-wrapper
    .footer__title Заявка
    .footer__content
      .footer__grid
        .footer__elem
          .footer__subtitle К каждому делу мы подходим индивидуально:
          .footer__text С высокой степенью<br>ответственности и вниманием
        .footer__elem
          .footer__subtitle Благодаря этом Мы заслужили:
          .footer__text Репутацию надежного партнера
        .footer__elem
          .footer__type
            img.footer__svg(src="./images/phone-icon.svg")
            a(href="tel:+749999999").footer__contact +7 (499) 999-99-99
          .footer__type
            img.footer__svg(src="./images/mail.svg")
            a(href="mailto:").footer__contact test@mail
          .footer__type
            img.footer__svg(src="./images/pin.svg")
            .footer__contact Адрес
      .footer__grid
        form.footer__form
          .footer__item
            label.footer__field * Ваше имя:
            input.footer__input(type="text" required name="user-name" placeholder="Например, Антон")
          .footer__item
            label.footer__field * Ваш телефон:
            input.footer__input(type="tel" required name="user-phone" placeholder="+7 (999) 999-99-99")
          .footer__item
            label.footer__field &nbsp;&nbsp; Ваш вопрос?
            textarea.footer__textarea(type="text" name="user-text" placeholder="Что вас интересует?")
          .footer__item.footer__personal
            label.confirm__label
              input(type="checkbox" value="1" name="k")
              span
            p Я принимаю <a id="politics">соглашение сайта</a> об обработке персональных данных
          button.button.footer__submit Отправить
  .g-wrapper
    .footer__conf
      .footer__pol Политика конфиденциальности
      .footer__element
        .footer__pol.footer__pol_bold Сайт разработан
        img(src="./images/spacecode.svg").footer__spacecode

