footer.footer
  .g-wrapper
    .footer__title Заявка
    .footer__content
      .footer__grid
        .footer__elem
          .footer__subtitle К каждому делу мы подходим индивидуально:
          .footer__text С высокой степенью<br>ответственности и вниманием
        .footer__elem
          .footer__subtitle Благодаря этом Мы заслужили:
          .footer__text Репутацию надежного партнера
      .footer__grid
        form.footer__form
          .footer__item
            label.footer__field * Ваше имя:
            input.footer__input(type="text" required name="name" placeholder="Например, Антон")
          .footer__item
            label.footer__field * Ваш телефон:
            input.footer__input(type="tel" required name="phone" placeholder="+7 (999) 999-99-99")
          .footer__item
            label.footer__field &nbsp;&nbsp; Ваш вопрос?
            textarea.footer__textarea(type="text" placeholder="Что вас интересует?")
          button.button.footer__submit Отправить
  .g-wrapper
    .footer__conf
      .footer__pol Политика конфиденциальности
      .footer__element
        .footer__pol.footer__pol_bold Сайт разработан
        img(src="./images/spacecode.svg").footer__spacecode

