.geography
  .geography__header География
  .geography__content
    .geography__left
      .geography__item.geography__item_selected(data-tag="pa")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blobs
        .geography__text Все
      .geography__item(data-tag="p1")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Природный газ
      .geography__item(data-tag="p2")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Нефть
      .geography__item(data-tag="p3")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Дизельное топливо
      .geography__item(data-tag="p4")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Авиакеросин
      .geography__item(data-tag="p5")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Бензин
      .geography__item(data-tag="p6")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text СУГ
      .geography__item(data-tag="p7")
        .geography__triangle
          include ../../images/triangle.svg
        .geography__blob
        .geography__text Газовый конденсат
    .geography__right
      include ../../images/map.svg
