header.header
  video.header__video(src="/images/header-video.mp4" autoplay loop)
  .header__content
    .header__title #[span.header__title_blue НГБ] - гарант стабильных поставок
    .header__text Ваш надежный поставщик нефтепродуктов и природного газа. <br /> Один из крупнейших брокеров в России
    .header__contact
      span.header__phoneblock
        span.header__icon
          include ../../images/phone.svg
        a.header__phone(href="tel:84959891212") 8 (495) 989-12-12
      button.button.callback Связаться с нами
