.howtowork
  .g-wrapper
    .howtowork__title Как это работает
    .howtowork__header
      .howtowork__content
        .howtowork__etaps
          .howtowork__number 01.
          .howtowork__subtitle Шаг первый
          .howtowork__text Вы направляете нам заявку любым удобным способом – по телефону, официальным письмом, по электронной почте
          button.button.button__mini.callback Оставить заявку
        .howtowork__etaps
          .howtowork__number 02.
          .howtowork__subtitle Шаг второй
          .howtowork__text Мы находим лучшие решения. Анализируя рынок, запрашивая производителей и поставщиков, мы формируем предложение, максимально удовлетворяющее заявку по всем параметрам: качеству, срокам, условиям взаиморасчетов и цене
        .howtowork__etaps
          .howtowork__number 03.
          .howtowork__subtitle Шаг третий
          .howtowork__text Мы оформляем документы и производим контроль доставки, решая все возникающие вопросы.  От Вас необходимо своевременное выполнение обязательства по оплате и приемке продукции
    .howtowork__footer
      .howtowork__tag <span>НефтеГазБрокер</span> гарантирует:
      .howtowork__variants
        .howtowork__element
          img.howtowork__image(src='../images/howtowork-1.svg')
          .howtowork__garant <span>Н</span>адежность поставок
        .howtowork__element
          img.howtowork__image(src='../images/howtowork-2.svg')
          .howtowork__garant <span>Г</span>ибкость цен
        .howtowork__element
          img.howtowork__image(src='../images/howtowork-3.svg')
          .howtowork__garant <span>Б</span>езупречное качество <br>продукта

