.mob-menu
  .mob-menu__top
    a.button.button__mini.button__scroll(href="#footer") Оставить заявку
    .mob-menu__close
      include ../../images/cross.svg
  .mob-menu__menu
    a.mob-menu__item(href="#weare") Мы это
    a.mob-menu__item(href="#products") Продукты
    a.mob-menu__item(href="#howtowork") Как это работает
    a.mob-menu__item(href="#geography") География
    a.mob-menu__item(href="#documents") Документы
