.mob-menu
  .mob-menu__top
    button.button.button__mini.callback Оставить заявку
    .mob-menu__close
      include ../../images/cross.svg
  .mob-menu__menu
    a.mob-menu__item(href="#") Мы это
    a.mob-menu__item(href="#") Продукты
    a.mob-menu__item(href="#") Как это работает
    a.mob-menu__item(href="#") География
    a.mob-menu__item(href="#") Документы
