.moments
  .moments__wrapper
    .g-wrapper
      .moments__header Мы это
      .moments__content
        .moments__left
          .moments__line
            .moments__item.moments__item_active
              .moments__circle
              .moments__label до 2014
            .moments__item
              .moments__circle
              .moments__label 2014
            .moments__item
              .moments__circle
              .moments__label 2015
            .moments__item
              .moments__circle
              .moments__label 2016
            .moments__item
              .moments__circle
              .moments__label 2017
            .moments__item
              .moments__circle
              .moments__label Будущее
        .moments__right
          .moments__cards
            img.moments__cover(src='/images/photo_cards.png')
            .moments__photowrapper
              img(src="/images/cover.png")
          .moments__description
            .moments__year 2014
            .moments__text <b>ООО «Нефтегазброкер»</b> принимает участие в торгах на бирже СПбМТСБ в секции «Нефтепродукты», компания принимаем активное участие в организации работы секции. За 2014 год нами поставлено более ХХХХ тонн нефтепродуктов, выручка компании превысила 1 млрд. руб.
