.navigation
  .navigation__wrapper
    a.navigation__logo(href="#")
      img(src="/images/logo.png")
    nav.menu
      a.menu__link(href="#weare") Мы это
      a.menu__link(href="#products") Продукты
      a.menu__link(href="#howtowork") Как это работает
      a.menu__link(href="#geography") География
      a.menu__link(href="#documents") Документы
      a.menu__link(href="#footer") Контакты
    .navigation__callback
      button.button.button_mini.callback Оставить заявку

