.products
  .g-wrapper
    .products__topheader Продукты
    .products__wrapper
      .products__svg
        include ../../images/products.svg
      .products__description
        .products__header Продукты
        .products__content
          .products__title Газы углеводородные сжиженные (СУГ)
          .products__text.
            Основными компонентами СУГ являются пропан и бутан. При этом состав СУГ может различаться.
            В небольших количествах в нем могут присутствовать также бутилен, пропилен, этан, метан, этилен и неиспаряющийся осадок в виде пентана и гексана.  В результате смеси пропана и бутана получается сжиженный нефтяной газ пропан-бутан. Производство СУГ происходит путем ректификации широкой фракции лёгких углеводородов (ШФЛУ).
            <br /> Сжиженные углеводородные газы широко применяются  в качестве топлива, а также могут использоваться как сырье для создания органического синтеза.

