.weare#weare
  .g-wrapper
    .documents__header Мы это
    .weare__content
      .weare__block
        .weare__image
          img.weare__img(src='./images/weare-1.png')
        .weare__about
          .weare__text Мы – команда профессионалов. С 2011 года наша компания прошла путь от идеи создания многопрофильного поставщика на сырьевых товарных рынках до одного из крупнейших трейдеров на рынке нефтепродуктов, газового конденсата, природного и сжиженного газа. За прошедший год мы поставили более 400 тысяч тонн нефтепродуктов и более 1 млрд. м<sup>3</sup> природного газа по всем регионам РФ
      .weare__block
        .weare__about
          .weare__text Наша ключевая специализация - поставка нефтепродуктов с заводов группы Газпром. За время работы мы выстроили тесные взаимоотношения с большинством вертикально-интегрированных нефтяных компаний РФ, такими как Роснефть, Лукойл, ТатНефть и прочие.
          .weare__text Мы - активный участник торгов на ЗАО «Санкт-Петербургская Международная Товарно-сырьевая Биржа» в секциях «Нефтепродукты» и «Газ». Основной регион нашего присутствия - Ханты-Мансийский и Ямало-Ненецкие автономные округа, при этом мы успешно работаем во всех регионах РФ
        .weare__image_second
          img.weare__img(src='./images/weare-2.png')
