@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/osr.ttf');
  font-weight: normal
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/osb.ttf');
  font-weight: 700
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/ossb.ttf');
  font-weight: 600
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/oseb.ttf');
  font-weight: 800
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/reb.ttf');
  font-weight: 800
}
