.footer
  background: url('../images/footer-bg.png') center center/cover no-repeat
  background-size: cover
  padding 10rem 0 3rem 0
  &__title
    text-align: center
    font-family: Raleway
    font-weight 800
    font-size 4.6rem
    color white
    margin-bottom 7rem
  &__subtitle
    font-size: 1.8rem
    font-family: Open Sans
    font-weight normal
    color white
    margin-bottom 1.2rem
  &__text
    font-size: 3rem
    font-family: Open Sans
    font-weight 700
    color white
  &__elem
    margin-bottom 2.4rem
  &__content
    display flex
    justify-content space-between
    align-items: flex-start
  &__form
    text-align: center
  &__item
    margin-bottom 3.2rem
  &__input
    width 40rem
    background-color RGBA(42,42,42,0.9)
    border 0.1rem solid #565656
    color #626262
    padding 1.5rem 3.4rem 1.5rem 3.4rem
    border-radius 14rem
    font-family: Open Sans
    transition 0.3s
    font-size 1.6rem
    &:hover
      border-color: #D19863
    &:focus
      border-color: #D19863
    &__submit
      display: inline-block
  &__field
    display: block
    font-size 1.6rem
    color #D8D8D8
    font-family: Open Sans
    margin-bottom 2rem
    text-align: left

