*
  margin 0
  padding 0
  box-sizing border-box
  outline: none
  text-decoration none

html
  font-size: 10px

#wrapper
  width 100%
  overflow-x: hidden

.g-wrapper
  max-width: 120rem
  margin 0 auto
  padding-left 3rem
  padding-right 3rem

.button
  font-family: 'Open Sans'
  font-weight: 700
  font-size: 1.6rem
  background-color: #60C3FE
  padding 2rem 4.5rem
  border none
  border-radius 30px
  color white
  box-shadow: 0 6px 20px RGBA(0,0,0,0.24);
  cursor pointer
  transition: .3s
  user-select none
  &_mini
    font-size: 1.3rem
    padding: 1.4rem 3.4rem
  &:hover
    background-color: #37ADF4


.mobile__hamburger
  position: fixed;
  top: 4rem;
  right: 2rem;
  z-index: 9;
  cursor pointer
  display none

@media (max-width: 1600px)
  html
    font-size: 9px

@media (max-width: 1370px)
  html
    font-size: 8px

@media (max-width: 1024px)
  html
    font-size: 10px
  .g-wrapper
    max-width: 76.8rem
    padding-left 2.4rem
    padding-right 2.4rem
  .button
    font-size: 1.4rem
    padding 1.6rem 3.2rem
    &_mini
      font-size: 1.2rem
      padding 1.2rem 2.6rem
  .navigation
    display none
  .mobile__hamburger
    display block

@media (max-width: 767px)
  html
    font-size: 9px

@media (max-width: 675px)
  html
    font-size: 8px

@media (max-width: 566px)
  html
    font-size: 10px
  .g-wrapper
    max-width: 42rem
    padding-left 1.6rem
    padding-right 1.6rem
  .button
    font-size: 1.2rem
    padding 1.2rem 2.2rem
    &_mini
      font-size: 1rem
      padding 1rem 2.2rem

