.documents
  padding-top 8rem
  padding-bottom 4rem
  &__header
    font-size: 4.6rem
    color black
    font-family: Raleway
    text-align: right
    font-weight: 800
    margin-bottom 5.8rem
  &__subtitle
    font-size 3rem
    font-family: Open Sans
    font-weight: 700
    color black
    margin-bottom 4.4rem
  &__main
    display flex
    align-items: flex-start
    justify-content: space-between
  &__main
    display flex
    justify-content: space-between
  &__item
    font-size: 1.8rem
    font-family: Open Sans
    font-weight: 600
    padding-left 4.6rem
    position: relative
    margin-bottom 3.8rem
    &:last-child
      margin-bottom 1rem
    &:before
      content ''
      width 30px
      height: 30px
      background url('../images/shape.png') no-repeat
      background-size: cover
      position: absolute
      left 0
      top -6px
  &__list
    display flex
    flex-direction: column
    flex-basis 60%
    padding-bottom 11rem
  &__image
    display flex
    flex-basis: 40%
    align-self: flex-end
  &__img
    max-width: 502px
    max-height: 494px
    width 100%
    object-fit: contain
    transform: translate(13rem,4rem);

@media (max-width: 1400px)
  .documents
    &__item
      &:before
        top -6px

@media (max-width: 1024px)
  .documents
    padding-top: 6rem;
    &__header
      font-size 3rem
      margin-bottom 4.2rem
    &__list
      flex-basis 70%
    &__subtitle
      font-size 2rem
    &__item
      font-size 1.4rem
      line-height 2rem
      padding-left: 2.8rem;
      margin-bottom 2.2rem
      &:before
        width 18px
        height: 18px
        top 2px
    &__image
      flex-basis 30%
    &__img
      width: 112%;
      transform: translate(7rem,5rem);
@media (max-width: 920px)
  .documents
    &__img
        width: 100%;
        transform: translate(4rem,5rem);
@media (max-width: 816px)
  .documents
    &__img
        transform: translate(2rem,5rem);
@media (max-width: 700px)
  .documents
    &__img
        transform: translate(2rem,10rem);
@media (max-width: 566px)
  .documents
    padding-top 4rem
    &__header
      font-size 2.4rem
      margin-bottom 2.2rem
    &__subtitle
      font-size 1.8rem
      line-height 2.6rem
      margin-bottom 2.6rem
    &__item
      font-size 1.2rem
      line-height 1.9rem
      margin-bottom 1.8rem
      &:before
        width 16px
        height: 16px
        top 2px
    &__list
      flex-basis: 100%
      padding-bottom 0
    &__image
      display none
