.header
  position relative
  overflow hidden
  &__video
    width 100%
    height 70rem
    object-fit: cover
  &__content
    display flex
    flex-direction: column
    justify-content: center
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background-color: rgba(#0B161D, 0.8)
  &__title
    font-family: "Raleway"
    font-size: 4.6rem
    color white
    text-align center
    margin-bottom 3.2rem
    &_blue
      color #60C3FE
  &__text
    font-family: 'Open Sans'
    font-size: 1.6rem
    color white
    text-align center
    line-height: 2.8rem
  &__contact
    display flex
    justify-content: center
    align-items: center
    padding-top 4.2rem
  &__icon
    margin-right 1.4rem
    vertical-align: bottom
    & svg
      height 2.3rem
      vertical-align: bottom
  &__phone
    font-family: 'OPen Sans'
    font-size: 2.4rem
    font-weight: 700
    color white
    margin-right 7.5rem

@media (max-width: 1024px)
  .header
    &__video
      height 46.4rem
    &__title
      font-size: 3rem
      margin-bottom 2.2rem
    &__text
      font-size: 1.4rem
      line-height: 2.2rem
    &__phone
      font-size: 1.8rem
      margin-right 5rem
    &__contact
      padding-top 2.8rem
    &__icon
      & svg
        height 1.6rem

@media (max-width: 566px)
  .header
    &__phoneblock
      display flex
      align-items: center
      justify-content: center
      margin-bottom 1.5rem
    &__content
      padding 0 1.6rem
    &__video
      height 47.6rem
    &__title
      font-size: 2.4rem
      margin-bottom 2.6rem
    &__text
      font-size: 1.2rem
      line-height: 2.1rem
    &__phone
      font-size: 1.6rem
      margin-right 0
      margin-bottom 0
    &__contact
      display block
      text-align center
      padding-top 2.8rem
    &__icon
      & svg
        height 1.2rem
