.moments
  background url('/images/moments.png') center center/cover no-repeat
  &__wrapper
    width 100%
    height 100%
    background-color rgba(0,0,0,0.9)
    padding-top 10rem
    padding-bottom 8rem
  &__header
    font-family: 'Raleway'
    font-weight: 800
    font-size: 4.6rem
    color white
    margin-bottom 2rem
  &__content
    display flex
  &__left
    padding-top 4.5rem
    position relative
    padding-right 8.5rem
  &__item
    display flex
    align-items: center
    margin-bottom 3.6rem
    cursor pointer
    z-index: 1
    &:last-child
      margin-bottom 0
    &:hover
      & ^[0]__label
        color #60C3FE
      & ^[0]__circle
        background-color #60C3FE
    &_active
      & ^[0]__label
        color #60C3FE
      & ^[0]__circle
        transform: scale(1.2)
      & ^[0]__circle:after
        opacity 1
  &__label
    font-family: 'Open Sans'
    font-weight: 700
    font-size: 2rem
    color white
    transition .3s
  &__circle
    display flex
    justify-content: center
    align-items: center
    width 3.65rem
    height 3.65rem
    border-radius 50%
    background-color #D7F0FF
    margin-right 2.5rem
    transition: .1s
    flex-shrink: 0
    &:after
      content: ''
      display block
      width 74%
      height 74%
      border-radius 50%
      transform: translateX(.5px)
      background-color #60C3FE
      transition .3s
      opacity 0
  &__line
    position relative
    z-index 1
    &:after
      content: ''
      position absolute
      top 0
      left 1.64rem
      width 0.5rem
      height 98% - 4.5rem
      background-color #D7F0FF
      z-index -1
  &__right
    display flex
    align-items: flex-start
  &__cards
    flex-shrink: 0
    margin-right 3rem
    position relative
  &__photowrapper
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 65px;
    & img
      width 100%
  &__description
    flex-grow: 1
  &__year
    font-family: 'Open Sans'
    font-size: 3rem
    font-weight: 700
    color white
    margin-bottom 2rem
  &__text
    font-family: 'Open Sans'
    font-weight: 400
    font-size: 1.6rem
    color white
    line-height: 3rem

@media (max-width: 1024px)
  .moments
    &__wrapper
      padding-top 8rem
      padding-bottom 7rem
    &__header
      font-size: 3rem
    &__content
      flex-direction: column
    &__line
      display flex
      justify-content: space-between
      margin-bottom 5rem
      &:after
        position absolute
        top 1.64rem
        left 0
        width 99%
        height 0.5rem
        background-color #D7F0FF
        z-index -1
    &__item
      margin-bottom 0
      position relative
    &__circle
      margin-right 0
    &__label
      position absolute
      bottom calc(100% + 1rem)
      left 50%
      font-size: 1.4rem
      white-space: nowrap
      transform: translateX(-50%)
    &__cover
      width 35rem
    &__photowrapper
      padding-top: 62px;
      padding-left: 62px;
      padding-right: 50px;
    &__year
      font-size: 2rem
    &__text
      font-size: 1.4rem
      line-height: 2.8rem
    &__left
      width 75%
      padding-right 0

@media (max-width: 566px)
  .moments
    &__wrapper
      padding-top 4rem
      padding-bottom 4rem
    &__header
      font-size: 2.4rem
    &__line
      margin-bottom 3rem
      &:after
        top .9rem
    &__right
      flex-direction: column
    &__label
      font-size: .8rem
    &__left
      width 100%
    &__year
      font-size: 1.8rem
    &__text
      font-size: 1.2rem
      line-height: 2.4rem
    &__circle
      width 2.4rem
      height 2.4rem
    &__cover
      width 19rem
    &__photowrapper
      padding-top: 36px;
      padding-left: 36px;
      padding-right: 30px;
    &__cards
      margin-right 0
    &__right
      align-items: center
