.weare
  padding-top 6.6rem
  padding-bottom 13rem
  &__block
    display flex
    justify-content: space-between
    align-items: center
    margin-bottom 6rem
  &__image
    margin-right 9rem
    position: relative
    &:before
      content ''
      position: absolute
      width: 100%
      height: 100%
      top -5rem
      left -8rem
      z-index -1
      background: url('../images/decor.png') no-repeat
    &_second
      margin-left 9rem
      position: relative
      &:before
        content ''
        position: absolute
        width: 100%
        height: 100%
        bottom -5rem
        right -8rem
        z-index -1
        background: url('../images/decor.png') no-repeat
  &__text
    font-size: 1.6rem
    font-family: Open Sans
    color black
    font-weight: normal
    text-align: justify
    line-height 3rem
    margin-bottom 1.8rem
    & span
      font-weight: 700

@media (max-width: 1024px)
  .weare
    padding-top 4.6rem
    padding-bottom 5rem
    &__block
      flex-direction: column
      align-items: flex-start
      margin-bottom 2.6rem
      &:nth-child(2)
        & .weare__about
          order 2
        & .weare__image_second
          margin-left 0
          margin-bottom 4.6rem
    &__text
      font-size 1.4rem
      line-height 2.8rem
      margin-bottom: 1.4rem;
    &__image
      margin-bottom 4.6rem
      margin-right 0
    &__img
      width 95%

@media (max-width: 566px)
  .weare
    padding-top 2rem
    padding-bottom 2rem
    &__block
      margin-bottom 2.6rem
      &:nth-child(2)
        & .weare__image_second
          margin-left 0
          margin-bottom 2.4rem
    &__text
      font-size 1.2rem
      line-height 2.4rem
      margin-bottom: 0.4rem;
    &__image
      margin-bottom 2.4rem
      &:before
        top -2rem
        left -2rem
      &_second
        &:before
          bottom -2rem
          right -2rem
    &__img
      width 100%
