<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/vendor/tingle.css")
    <link rel="stylesheet" href="/vendor/swiper.min.css">
    <link rel="stylesheet" href="/vendor/alertify.core.css">
    <link rel="stylesheet" href="/vendor/alertify.default.css">
    script(src="/vendor/is.min.js")
    <script src="/vendor/swiper.min.js"></script>
    <script src="/vendor/alertify.min.js"></script>
    script(src="/vendor/inputmask.dependencyLib.min.js")
    script(src="/vendor/inputmask.min.js")
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=default,fetch,Promise"></script>
    //- <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script src="/vendor/promise.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/classlist/2014.01.31/classList.min.js"></script>
    title НГБ
    script.
      if (!Array.from) {
        Array.from = function (object) {
            'use strict';
            return [].slice.call(object);
        };
      }
  body
    #wrapper
      block content
    script(src="/vendor/tingle.min.js")
    script(src="/vendor/smooth-scroll.polyfills.min.js")
    script(src="/js/main.js")
